<footer class="fixed-bottom" id="footer">
  <!--Ajaxを利用するため、local: trueは無し-->
  <%= form_with model: @message do |f| %>
    <div class="form-group">
      <!--自動でmessage_contentというidがつく-->
      <%= f.text_area :content, class: "form-control", rows: "1", maxlength: "500" %>
    </div>
    <div class="form-group">
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary btn-block disabled", id: "message-button" %>
    </div>
  <% end %>
</footer>