<div id="message-container">
  <%= render @messages %>
  <!--render partial: "messages/message", collection: @messages-->
  <!--eachで一つずつ呼び出すのではなく、collectionを設定し、@messagesの中身を1つずつ取り出す-->



  <input value="<%= current_user.id %>" id="current_user_num" type="hidden">
  <div class="fixed">
    <%= render 'footer' %>
  </div>
</div>

