/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// bootstrap
@import "bootstrap/scss/bootstrap";

$yellow : #FFE500;
$pink: #C14F7E;
$black: #403734;
$bg-white: #F7F7F7;

$w768: 768px;

*{
  padding: 0;
  // margin: 0!important;
}

a, p, h1, h2, h3,h4, h5{
  color: $black;
  transition: 1.0s ;
  &:hover{
    color: $pink;
    text-decoration: none;
  }
}

body{
  position: relative;
  background-color: $bg-white;
}

.right-box{
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.display-box{
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

// =====sidebar=====
.sidebar{
  position: fixed;
  background-color: $yellow;
  width: 25%;
  height: 100%;
  padding: 3rem 4rem;
}

li {
  list-style: none;
  padding: 0.5rem;
}


// =====devise=====
$m-top: 30px;
$m-bottom: 30px;
$p-top: 30px;
$p-bottom: 30px;

$form-width: 250px;
$form-height: 40px;


.text-center{
  text-align: center;
}

.field{
  margin-bottom: $m-bottom;
}

.m-top{
  margin-top: $m-top;
}
.m-bottom{
  margin-bottom: $m-bottom;
}
.p-top{
  padding-top: $p-top;
}
.p-bottom{
  padding-bottom: $p-bottom;
}

#error_explanation, h2{
  &:hover{
    color: $black;
  }
}

.notice{
  max-width: $w768;
  margin: 0 auto;
  color: green;
  &:hover{
    color: green;
  }
}

.alert{
  max-width: $w768;
  margin: 0 auto;
  color: red;
  &:hover{
    color: red;
  }
}

.circle-form{
  width: $form-width;
  height: $form-height;
  border-radius: $form-height / 2;
  outline: none;
  cursor: pointer;
  border: $black 0.5px solid;
  padding: 20px;
}

.btn{
  width: $form-width;
  height: $form-height;
  border-radius: $form-height / 2;
  outline: none;
  border: $black 0.5px solid;
  background-color: $pink;
  color: white;
  &:hover{
    color: white;
  }
}

.btn-delete{
  margin-top: $m-top;
  margin-bottom: $m-bottom;
  background-color: #111;
  color: $yellow;
  &:hover{
    color: $yellow;
  }
}


// =====users======





// =====rooms======
.messages-room{
  max-width: $w768;
  margin: 0 auto;
  position: relative;
}

#message-container {
  max-width: $w768;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
  background-color: $bg-white;
}

// メッセージ投稿フォーム
footer{
    width: 100%;
    max-width: 700px;
    position: fixed;
    bottom: 0;
    background-color: $bg-white;
    .footer-center{
      max-width: 700px;
      margin: 0 auto;
      
    }
}

// ボタン無効化時のスタイル
.btn-primary.disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: auto;
}

// フォームサイズを自由に変更できないように変更
#message_content {
  resize: none;
}

// DM
// メッセージ一覧
#dm_message-container {
  max-width: $w768;
  margin: 0 auto;
  padding: 1rem 1rem 8rem 1rem;
}

// フォームサイズを自由に変更できないように変更
#dm_message_content {
  resize: none;
}

// avatar
.avatar{
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}