/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// bootstrap
@import "bootstrap/scss/bootstrap";
// fontawesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

$yellow : #FFE500;
$pink: #C14F7E;
$black: #403734;
$bg-white: #F7F7F7;

$w768: 768px;

*{
  padding: 0;
  // margin: 0!important;
}

a, p, h1, h2, h3,h4, h5{
  color: $black;
  transition: 1.0s ;
  &:hover{
    color: $black;
    text-decoration: none;
  }
}

body{
  position: relative;
  background-color: $bg-white;
}

.right-box{
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.display-box{
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h100{
  height: 100%;
}

// =====sidebar=====
.sidebar{
  position: fixed;
  background-color: $yellow;
  width: 25%;
  height: 100%;
  padding: 3rem 2rem;
}

li {
  list-style: none;
  padding: 0.5rem;
}


// =====devise=====
$m-top: 30px;
$m-bottom: 30px;
$p-top: 30px;
$p-bottom: 30px;

$form-width: 250px;
$form-height: 40px;


.text-center{
  text-align: center;
}

.field{
  margin-bottom: $m-bottom;
}

.m-top{
  margin-top: $m-top;
}
.m-bottom{
  margin-bottom: $m-bottom;
}
.p-top{
  padding-top: $p-top;
}
.p-bottom{
  padding-bottom: $p-bottom;
}

#error_explanation, h2{
  &:hover{
    color: $black;
  }
}

.notice{
  max-width: $w768;
  margin: 0 auto;
  color: green;
  &:hover{
    color: green;
  }
}

.alert{
  max-width: $w768;
  margin: 0 auto;
  color: red;
  &:hover{
    color: red;
  }
}

.circle-form{
  width: $form-width;
  height: $form-height;
  border-radius: $form-height / 2;
  outline: none;
  cursor: pointer;
  border: $black 0.5px solid;
  padding: 20px;
}

.btn{
  width: $form-width;
  height: $form-height;
  border-radius: $form-height / 2;
  outline: none;
  border: $black 0.5px solid;
  background-color: $pink;
  color: white;
  &:hover{
    color: white;
    background-color: $pink;
  }
}

.btn-delete{
  margin-top: $m-top;
  margin-bottom: $m-bottom;
  background-color: #111;
  color: $yellow;
  &:hover{
    color: $yellow;
    background-color: #111;
  }
}


// =====users======

// avatar
.avatar{
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

// 新規・編集画面のavatarフォーム
.avatar-file-width{
  // width: 80px;
  // height: 40px;
  // margin-bottom: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  .fa-images{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .avatar-images-file{
    display: none;
  }
}


// =====rooms======

#message-container {
  max-width: $w768;
  margin: 0 auto;
  padding: 1rem 0 10rem;
  background-color: $bg-white;
  position: relative;
  .fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: $w768;
    
  }
}

// ボタン無効化時のスタイル
.btn.disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: auto;
}

// フォームサイズを自由に変更できないように変更
#message_content {
  resize: none;
}

.message{
  width: 100%;
  max-width: $w768;
  margin-bottom: 30px;
  background-color: #FFE50022;
  border-radius: 10px;
}

.current_user{
  color: $pink;
}

.messenger{
  font-size: 0.8rem;
  color: #403734aa;
  padding-top: 3px;
  &:hover{
    color: #403734aa;
  }
}

.image{
  max-width: 300px;
  margin: 5px 0;
}

.date{
  font-size: 0.8rem;
  display: inline-block;
  color: #403734aa;
  padding: 0 0.5rem;
  &:hover{
    color: #403734aa;
  }
}

.delete_message{
  color: #403734aa;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  &:hover{
    color: $black;
  }
}

// DM
#dm_room-container {
  max-width: $w768;
  margin: 0 auto 6rem;
  padding: 1rem 0 10rem;
  background-color: $bg-white;
  position: relative;
  .fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

#dm_message-container{
  padding: 5px;
}

// フォームサイズを自由に変更できないように変更
#dm_message_content {
  resize: none;
}

.dm_message{
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
  display: flex;
  .dm_message-box{
    background-color: #FFE50022;
    border-radius: 10px;
    padding: 3px 10px;
  }
}

.dm_current_user{
  margin: 0 0 30px auto;
  display: flex-end;
  flex-direction: row-reverse;
  .dm_message-box{
    background-color: $yellow;
  }
}



// =====footer=====
// メッセージ投稿フォーム
footer{
    max-width: $w768;
    width: 100%;
    background-color: none;
    padding-bottom: 50px;
    .footer-center{
      max-width: 600px;
      margin: 0 auto;
    }
}

.footer-flex{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .form-width{
    flex: auto;
    .form-radius{
      min-height: $form-height;
      border-radius: $form-height / 2;
      outline: none;
      border: $black 0.5px solid;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  .file-width{
    width: 80px;
    height: 40px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-images{
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  .submit-width{
    width: 80px;
  }
  .images-file{
    display: none;
  }
}

